@import "fonts";

* {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

#app.v-application--is-rtl .v-icon {
  &:not(.mdi-play):not(.mdi-check) {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}
